<mat-toolbar color="primary">
  <span routerLink="/">SwaggyPlus</span>
  <button mat-button color="warn" routerLink="/about">About</button>
  <button mat-button color="warn" routerLink="/admin-dashboard">Admin Dashboard</button>
  <button mat-button color="warn" routerLink="/user-dashboard">User Dashboard</button>
  <button mat-button color="warn" routerLink="/restaurant-list">Restaurant List</button>
  <button mat-button color="warn" (click)="cart()">Cart</button>
  <button *ngIf="!(loginService.isUserLoggedIn()) && !(adminlogin.isAdminLoggedIn())" mat-button color="warn" routerLink="/login">User Login</button>
  <button *ngIf="!(loginService.isUserLoggedIn()) && !(adminlogin.isAdminLoggedIn())" mat-button color="warn" routerLink="/admin-login">Admin Login</button>
  <button *ngIf="(loginService.isUserLoggedIn()) || (adminlogin.isAdminLoggedIn())" mat-button color="warn" routerLink="/logout">Logout</button>
  <button *ngIf="loginService.isUserLoggedIn()"> {{this.loginService.getCurrentUserName()}} </button>
</mat-toolbar>